/* =============================================================================================
Header CSS 
==============================================================================================*/
.header {
    background-color: #851b19;
    margin: 0;
    padding: 5px 0px 8px 0px;
    border-bottom-style: 3px outset;
}
.title {
    font-family: 'Macondo Swash Caps', cursive;
    background-color: #851b19;
    font-size: 50px;
    color: white;
    text-align: center;
}
.logout {
    background-color: #851b19;
    text-align: right;
    float: bottom;
}
a.logout:link {
    color: grey;
}
a.logout:visited {
    color: grey;
}
a.logout:hover {
    color: grey;
}
a.logout:active {
    color: black;
}
/* =============================================================================================
Body CSS 
==============================================================================================*/
body {
    background-color: grey;
}
.input-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
.input-container {
    background: #fff;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid grey;
    box-sizing: border-box;
    width: calc(100% - 50px);
    align-items: center;
    display: flex;
    border: 0;
    font-size: 1em;
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
/* =============================================================================================
Footer CSS 
==============================================================================================*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #851b19;
    color: white;
    text-align: center;
}
.row {
    margin-bottom: 0px;
}
.ui-btn {
    color: white;
}
nav.nav-center {
    background-color: #851b19;
}
nav.nav-center ul {
    text-align: center;
    background-color: #851b19;
}
nav.nav-center ul li {
    display: inline;
    float: none;
    background-color: #851b19;
}
nav.nav-center ul li a {
    display: inline-block;
    background-color: #851b19;
    margin-left: 10px;
    margin-right: 10px;
}
