/* =============================================================================================
All Pages CSS 
==============================================================================================*/
* {
    background-color: grey;
}
h1, h2, h3, h4, h5, h6 {
    background-color: white;
}
.header {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #851b19;
    margin: 0;
    padding: 5px 0px 8px 0px;
    border-bottom-style: 3px outset;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #851b19;
    color: white;
    text-align: center;
}
.row {
    margin-bottom: 0px;
}
.ui-btn {
    color: white;
}
nav.nav-center {
    background-color: #851b19;
}
nav.nav-center ul {
    text-align: center;
    background-color: #851b19;
}
nav.nav-center ul li {
    display: inline;
    float: none;
    background-color: #851b19;
}
nav.nav-center ul li a {
    display: inline-block;
    background-color: #851b19;
    margin-left: 10px;
    margin-right: 10px;
}
.smalltext {
    text-align: center;
    display: block;
    margin-bottom: 0;
}
a.smalltext:link {
    color: black;
}
a.smalltext:visited {
    color: #851b19;
    text-decoration: underline;
}
a.smalltext:hover {
    text-decoration: underline;
    color: white;

}
a.smalltext:active {
    color: black;
}
.input-form {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
.username-input-container {
    background: #fff;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    width: calc(100% - 50px);
    align-items: center;
    display: flex;
    border: 0;
    font-size: 1em;
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
#username {
    text-align: left;
    border-radius: 5px 0 0 5px;
    padding: 0.8em;
    border: none;
    height: 27px;
    background: #fff;
    box-shadow: none;
    margin: 0;
    outline: none;
    font-size: 1em;
    width: 100%;
    color: #000;
    -webkit-appearance: none;
}