/* =============================================================================================
Header CSS 
==============================================================================================*/
.header {
    background-color: #1A2930;
    margin: 0;
    padding: 5px 0px 8px 0px;
    border-bottom-style: 3px outset;
}
.title {
    font-family: 'Bungee Shade', cursive;
    background-color: #1A2930;
    font-size: 50px;
    color: white;
    text-align: center;
}
.logout {
    background-color: #1A2930;
    text-align: right;
    float: bottom;
    color: grey;
}
a.logout:link {
    color: grey;
}
a.logout:visited {
    color: grey;
}
a.logout:hover {
    color: grey;
}
a.logout:active {
    color: black;
}
/* =============================================================================================
Body CSS 
==============================================================================================*/

body {
    background-color: grey;
}
.margin {
    margin: 0;
}
/* =============================================================================================
Footer CSS 
==============================================================================================*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1A2930;
    color: white;
    text-align: center;
}
.row {
    margin-bottom: 0px;
}
.ui-btn {
    color: white;
}
nav.nav-center {
    background-color: #1A2930;
}
nav.nav-center ul {
    text-align: center;
    background-color: #1A2930;
}
nav.nav-center ul li {
    display: inline;
    float: none;
    background-color: #1A2930;
}
nav.nav-center ul li a {
    display: inline-block;
    background-color: #1A2930;
    margin-left: 10px;
    margin-right: 10px;
}