/* =============================================================================================
All Pages CSS 
==============================================================================================*/
* {
    background-color: grey;
}
h1, h2, h3, h4, h5, h6 {
    background-color: white;
}
.header {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #851b19;
    margin: 0;
    padding: 5px 0px 8px 0px;
    border-bottom-style: 3px outset;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #851b19;
    color: white;
    text-align: center;
}
.row {
    margin-bottom: 0px;
}
.ui-btn {
    color: white;
}
nav.nav-center {
    background-color: #851b19;
}
nav.nav-center ul {
    text-align: center;
    background-color: #851b19;
}
nav.nav-center ul li {
    display: inline;
    float: none;
    background-color: #851b19;
}
nav.nav-center ul li a {
    display: inline-block;
    background-color: #851b19;
    margin-left: 10px;
    margin-right: 10px;
}
.smalltext {
    text-align: center;
    display: block;
    margin-bottom: 0;
}
a.smalltext:link {
    color: black;
}
a.smalltext:visited {
    color: #851b19;
    text-decoration: underline;
}
a.smalltext:hover {
    text-decoration: underline;
    color: white;

}
a.smalltext:active {
    color: black;
}

/* =============================================================================================
Login Page CSS 
==============================================================================================*/
.info {
    background-color: white;
}
.post {
    margin-top: 13%;
    margin-bottom: 10%;
}