* {
    background-color: grey;
}
.header {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #851b19;
    margin: 0;
    padding: 5px 0px 8px 0px;
    border-bottom-style: 3px outset;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #851b19;
    color: white;
    text-align: center;
}
.trial {
    margin-top: 40%;
    margin-bottom: 60%;
}
.info {
    background-color: white;
}
.post {
    margin-top: 13%;
    margin-bottom: 10%;
}
.ui-btn {
    color: white;
}
